@page "/"
@using System.ComponentModel;
@using System.Runtime;

<PageTitle>Index</PageTitle>

<h3>Grid</h3>

<TelerikGrid Data="@GridData"
             Pageable="true"
             PageSize="10"
             Sortable="true"
             ConfirmDelete="true"
             SortMode="@SortMode.Multiple"
             FilterMode="@GridFilterMode.FilterRow"
             Width="100%"
             Class="userprofilelisttable table-wrapper data-grid-table-wrapper">
    <GridColumns>
        <GridColumn Field="PLSNumber" Title="PLSNumber" />
        <GridColumn Field="SRNumber" Title="SRNumber" />
        <GridColumn Field="WorkOrderNumber" Title="WorkOrderNumber" />
        <GridColumn Field="AssociatedDTROrIRNumber" Title="AssociatedDTROrIRNumber" />
        <GridColumn Field="TeamOrEventName" Title="TeamOrEventName" />
        <GridColumn Field="CurrentStatusText" Title="CurrentStatusText" />
        <GridColumn Field="RedFlagText" Title="RedFlagText" />
        <GridColumn Field="DestinationCity" Title="DestinationCity" />
        <GridColumn Field="StartDate" Width="200px">
            <Template>
                @((context as PLSRequestModel)?.StartDate.ToString("dd/MM/yyyy"))
            </Template>
        </GridColumn>
        <GridColumn Field="CTRequestorName" Title="CTRequestorName" />
        <GridColumn Field="FundingCountryOrProject" Title="FundingCountryOrProject" />
        <GridColumn Field="CTFundingProgramText" Title="CTFundingProgramText" />
    </GridColumns>
</TelerikGrid>

<TelerikGrid Data="@GridData"
             Pageable="true"
             PageSize="10"
             Sortable="true"
             ConfirmDelete="true"
             SortMode="@SortMode.Multiple"
             FilterMode="@GridFilterMode.FilterRow"
             Width="100%"
             Class="userprofilelisttable table-wrapper data-grid-table-wrapper">
    <GridColumns>
        <GridColumn Field="PLSNumber" Title="PLSNumber" />
        <GridColumn Field="SRNumber" Title="SRNumber" />
        <GridColumn Field="WorkOrderNumber" Title="WorkOrderNumber" />
        <GridColumn Field="AssociatedDTROrIRNumber" Title="AssociatedDTROrIRNumber" />
        <GridColumn Field="TeamOrEventName" Title="TeamOrEventName" />
        <GridColumn Field="CurrentStatusText" Title="CurrentStatusText" />
        <GridColumn Field="RedFlagText" Title="RedFlagText" />
        <GridColumn Field="DestinationCity" Title="DestinationCity" />
        <GridColumn Field="StartDate" Width="200px">
            <Template>
                @((context as PLSRequestModel)?.StartDate.ToString("dd/MM/yyyy"))
            </Template>
        </GridColumn>
        <GridColumn Field="CTRequestorName" Title="CTRequestorName" />
        <GridColumn Field="FundingCountryOrProject" Title="FundingCountryOrProject" />
        <GridColumn Field="CTFundingProgramText" Title="CTFundingProgramText" />
    </GridColumns>
</TelerikGrid>

<TelerikGrid Data="@GridData"
             Pageable="true"
             PageSize="10"
             Sortable="true"
             ConfirmDelete="true"
             SortMode="@SortMode.Multiple"
             FilterMode="@GridFilterMode.FilterRow"
             Width="100%"
             Class="userprofilelisttable table-wrapper data-grid-table-wrapper">
    <GridColumns>
        <GridColumn Field="PLSNumber" Title="PLSNumber" />
        <GridColumn Field="SRNumber" Title="SRNumber" />
        <GridColumn Field="WorkOrderNumber" Title="WorkOrderNumber" />
        <GridColumn Field="AssociatedDTROrIRNumber" Title="AssociatedDTROrIRNumber" />
        <GridColumn Field="TeamOrEventName" Title="TeamOrEventName" />
        <GridColumn Field="CurrentStatusText" Title="CurrentStatusText" />
        <GridColumn Field="RedFlagText" Title="RedFlagText" />
        <GridColumn Field="DestinationCity" Title="DestinationCity" />
        <GridColumn Field="StartDate" Width="200px">
            <Template>
                @((context as PLSRequestModel)?.StartDate.ToString("dd/MM/yyyy"))
            </Template>
        </GridColumn>
        <GridColumn Field="CTRequestorName" Title="CTRequestorName" />
        <GridColumn Field="FundingCountryOrProject" Title="FundingCountryOrProject" />
        <GridColumn Field="CTFundingProgramText" Title="CTFundingProgramText" />
    </GridColumns>
</TelerikGrid>

<TelerikGrid Data="@GridData"
             Pageable="true"
             PageSize="10"
             Sortable="true"
             ConfirmDelete="true"
             SortMode="@SortMode.Multiple"
             FilterMode="@GridFilterMode.FilterRow"
             Width="100%"
             Class="userprofilelisttable table-wrapper data-grid-table-wrapper">
    <GridColumns>
        <GridColumn Field="PLSNumber" Title="PLSNumber" />
        <GridColumn Field="SRNumber" Title="SRNumber" />
        <GridColumn Field="WorkOrderNumber" Title="WorkOrderNumber" />
        <GridColumn Field="AssociatedDTROrIRNumber" Title="AssociatedDTROrIRNumber" />
        <GridColumn Field="TeamOrEventName" Title="TeamOrEventName" />
        <GridColumn Field="CurrentStatusText" Title="CurrentStatusText" />
        <GridColumn Field="RedFlagText" Title="RedFlagText" />
        <GridColumn Field="DestinationCity" Title="DestinationCity" />
        <GridColumn Field="StartDate" Width="200px">
            <Template>
                @((context as PLSRequestModel)?.StartDate.ToString("dd/MM/yyyy"))
            </Template>
        </GridColumn>
        <GridColumn Field="CTRequestorName" Title="CTRequestorName" />
        <GridColumn Field="FundingCountryOrProject" Title="FundingCountryOrProject" />
        <GridColumn Field="CTFundingProgramText" Title="CTFundingProgramText" />
    </GridColumns>
</TelerikGrid>

<TelerikGrid Data="@GridData"
             Pageable="true"
             PageSize="10"
             Sortable="true"
             ConfirmDelete="true"
             SortMode="@SortMode.Multiple"
             FilterMode="@GridFilterMode.FilterRow"
             Width="100%"
             Class="userprofilelisttable table-wrapper data-grid-table-wrapper">
    <GridColumns>
        <GridColumn Field="PLSNumber" Title="PLSNumber" />
        <GridColumn Field="SRNumber" Title="SRNumber" />
        <GridColumn Field="WorkOrderNumber" Title="WorkOrderNumber" />
        <GridColumn Field="AssociatedDTROrIRNumber" Title="AssociatedDTROrIRNumber" />
        <GridColumn Field="TeamOrEventName" Title="TeamOrEventName" />
        <GridColumn Field="CurrentStatusText" Title="CurrentStatusText" />
        <GridColumn Field="RedFlagText" Title="RedFlagText" />
        <GridColumn Field="DestinationCity" Title="DestinationCity" />
        <GridColumn Field="StartDate" Width="200px">
            <Template>
                @((context as PLSRequestModel)?.StartDate.ToString("dd/MM/yyyy"))
            </Template>
        </GridColumn>
        <GridColumn Field="CTRequestorName" Title="CTRequestorName" />
        <GridColumn Field="FundingCountryOrProject" Title="FundingCountryOrProject" />
        <GridColumn Field="CTFundingProgramText" Title="CTFundingProgramText" />
    </GridColumns>
</TelerikGrid>

<TelerikGrid Data="@GridData"
             Pageable="true"
             PageSize="10"
             Sortable="true"
             ConfirmDelete="true"
             SortMode="@SortMode.Multiple"
             FilterMode="@GridFilterMode.FilterRow"
             Width="100%"
             Class="userprofilelisttable table-wrapper data-grid-table-wrapper">
    <GridColumns>
        <GridColumn Field="PLSNumber" Title="PLSNumber" />
        <GridColumn Field="SRNumber" Title="SRNumber" />
        <GridColumn Field="WorkOrderNumber" Title="WorkOrderNumber" />
        <GridColumn Field="AssociatedDTROrIRNumber" Title="AssociatedDTROrIRNumber" />
        <GridColumn Field="TeamOrEventName" Title="TeamOrEventName" />
        <GridColumn Field="CurrentStatusText" Title="CurrentStatusText" />
        <GridColumn Field="RedFlagText" Title="RedFlagText" />
        <GridColumn Field="DestinationCity" Title="DestinationCity" />
        <GridColumn Field="StartDate" Width="200px">
            <Template>
                @((context as PLSRequestModel)?.StartDate.ToString("dd/MM/yyyy"))
            </Template>
        </GridColumn>
        <GridColumn Field="CTRequestorName" Title="CTRequestorName" />
        <GridColumn Field="FundingCountryOrProject" Title="FundingCountryOrProject" />
        <GridColumn Field="CTFundingProgramText" Title="CTFundingProgramText" />
    </GridColumns>
</TelerikGrid>

<TelerikGrid Data="@GridData"
             Pageable="true"
             PageSize="10"
             Sortable="true"
             ConfirmDelete="true"
             SortMode="@SortMode.Multiple"
             FilterMode="@GridFilterMode.FilterRow"
             Width="100%"
             Class="userprofilelisttable table-wrapper data-grid-table-wrapper">
    <GridColumns>
        <GridColumn Field="PLSNumber" Title="PLSNumber" />
        <GridColumn Field="SRNumber" Title="SRNumber" />
        <GridColumn Field="WorkOrderNumber" Title="WorkOrderNumber" />
        <GridColumn Field="AssociatedDTROrIRNumber" Title="AssociatedDTROrIRNumber" />
        <GridColumn Field="TeamOrEventName" Title="TeamOrEventName" />
        <GridColumn Field="CurrentStatusText" Title="CurrentStatusText" />
        <GridColumn Field="RedFlagText" Title="RedFlagText" />
        <GridColumn Field="DestinationCity" Title="DestinationCity" />
        <GridColumn Field="StartDate" Width="200px">
            <Template>
                @((context as PLSRequestModel)?.StartDate.ToString("dd/MM/yyyy"))
            </Template>
        </GridColumn>
        <GridColumn Field="CTRequestorName" Title="CTRequestorName" />
        <GridColumn Field="FundingCountryOrProject" Title="FundingCountryOrProject" />
        <GridColumn Field="CTFundingProgramText" Title="CTFundingProgramText" />
    </GridColumns>
</TelerikGrid>

<TelerikGrid Data="@GridData"
             Pageable="true"
             PageSize="10"
             Sortable="true"
             ConfirmDelete="true"
             SortMode="@SortMode.Multiple"
             FilterMode="@GridFilterMode.FilterRow"
             Width="100%"
             Class="userprofilelisttable table-wrapper data-grid-table-wrapper">
    <GridColumns>
        <GridColumn Field="PLSNumber" Title="PLSNumber" />
        <GridColumn Field="SRNumber" Title="SRNumber" />
        <GridColumn Field="WorkOrderNumber" Title="WorkOrderNumber" />
        <GridColumn Field="AssociatedDTROrIRNumber" Title="AssociatedDTROrIRNumber" />
        <GridColumn Field="TeamOrEventName" Title="TeamOrEventName" />
        <GridColumn Field="CurrentStatusText" Title="CurrentStatusText" />
        <GridColumn Field="RedFlagText" Title="RedFlagText" />
        <GridColumn Field="DestinationCity" Title="DestinationCity" />
        <GridColumn Field="StartDate" Width="200px">
            <Template>
                @((context as PLSRequestModel)?.StartDate.ToString("dd/MM/yyyy"))
            </Template>
        </GridColumn>
        <GridColumn Field="CTRequestorName" Title="CTRequestorName" />
        <GridColumn Field="FundingCountryOrProject" Title="FundingCountryOrProject" />
        <GridColumn Field="CTFundingProgramText" Title="CTFundingProgramText" />
    </GridColumns>
</TelerikGrid>

<h3>Grid using Vistual Scroll</h3>
<TelerikGrid Data="@GridData"
             Pageable="true"
             Height="480px" RowHeight="60" PageSize="10" ScrollMode="@GridScrollMode.Virtual"
             Sortable="true"
             ConfirmDelete="true"
             SortMode="@SortMode.Multiple"
             FilterMode="@GridFilterMode.FilterRow"
             Width="100%"
             Class="userprofilelisttable table-wrapper data-grid-table-wrapper">
    <GridColumns>
        <GridColumn Field="PLSNumber" Title="PLSNumber" />
        <GridColumn Field="SRNumber" Title="SRNumber" />
        <GridColumn Field="WorkOrderNumber" Title="WorkOrderNumber" />
        <GridColumn Field="AssociatedDTROrIRNumber" Title="AssociatedDTROrIRNumber" />
        <GridColumn Field="TeamOrEventName" Title="TeamOrEventName" />
        <GridColumn Field="CurrentStatusText" Title="CurrentStatusText" />
        <GridColumn Field="RedFlagText" Title="RedFlagText" />
        <GridColumn Field="DestinationCity" Title="DestinationCity" />
        <GridColumn Field="StartDate" Width="200px">
            <Template>
                @((context as PLSRequestModel)?.StartDate.ToString("dd/MM/yyyy"))
            </Template>
        </GridColumn>
        <GridColumn Field="CTRequestorName" Title="CTRequestorName" />
        <GridColumn Field="FundingCountryOrProject" Title="FundingCountryOrProject" />
        <GridColumn Field="CTFundingProgramText" Title="CTFundingProgramText" />
    </GridColumns>
</TelerikGrid>

<h3>Grid using Vistual Scroll</h3>
<TelerikGrid Data="@GridData"
             Pageable="true"
             Height="480px" RowHeight="60" PageSize="10" ScrollMode="@GridScrollMode.Virtual"
             Sortable="true"
             ConfirmDelete="true"
             SortMode="@SortMode.Multiple"
             FilterMode="@GridFilterMode.FilterRow"
             Width="100%"
             Class="userprofilelisttable table-wrapper data-grid-table-wrapper">
    <GridColumns>
        <GridColumn Field="PLSNumber" Title="PLSNumber" />
        <GridColumn Field="SRNumber" Title="SRNumber" />
        <GridColumn Field="WorkOrderNumber" Title="WorkOrderNumber" />
        <GridColumn Field="AssociatedDTROrIRNumber" Title="AssociatedDTROrIRNumber" />
        <GridColumn Field="TeamOrEventName" Title="TeamOrEventName" />
        <GridColumn Field="CurrentStatusText" Title="CurrentStatusText" />
        <GridColumn Field="RedFlagText" Title="RedFlagText" />
        <GridColumn Field="DestinationCity" Title="DestinationCity" />
        <GridColumn Field="StartDate" Width="200px">
            <Template>
                @((context as PLSRequestModel)?.StartDate.ToString("dd/MM/yyyy"))
            </Template>
        </GridColumn>
        <GridColumn Field="CTRequestorName" Title="CTRequestorName" />
        <GridColumn Field="FundingCountryOrProject" Title="FundingCountryOrProject" />
        <GridColumn Field="CTFundingProgramText" Title="CTFundingProgramText" />
    </GridColumns>
</TelerikGrid>


@code {
   public List<PLSRequestModel>? GridData { get; set; }
    protected override async Task OnInitializedAsync()
    {
        GridData = await GetData();
    }

    private async Task<List<PLSRequestModel>> GetData()
    {
        return await Task.Run(() =>
        {
            return Enumerable.Range(1, 1000).Select(x => new PLSRequestModel
                {
                    PLSNumber = "pls number" + x,
                    SRNumber = "SR Number" + x,
                    WorkOrderNumber = "WorkOrderNumber" + x,
                    AssociatedDTROrIRNumber = "AssociatedDTROrIRNumber" + x,
                    TeamOrEventName = "Team/EventName" + x,
                    CurrentStatusText = "CurrentStatus" + x,
                    RedFlagText = "Yes",
                    DestinationCity = "City" + x,
                    StartDate = DateTime.Now.AddMonths(-x).Date,
                    CTRequestorName = "CTR" + x,
                    FundingCountryOrProject = "Country/Project" + x,
                    CTFundingProgramText = "CTRProgram" + x
                }).ToList();
        });
    }


    public class PLSRequestModel
    {
        public Guid? Id { get; set; }
        public Guid? CreatedBy { get; set; }
        public Guid? UserId { get; set; }

        public string? PLSNumber { get; set; }
        public string? SRNumber { get; set; }
        public string? WorkOrderNumber { get; set; }
        public string? AssociatedDTROrIRNumber { get; set; }
        public string? TeamOrEventName { get; set; }
        public Guid? CurrentStatus { get; set; }
        public string? CurrentStatusText { get; set; }
        public bool RedFlag { get; set; }
        public string? RedFlagText { get; set; }
        public Guid? DestinationCountry { get; set; }
        public string? DestinationCity { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime? EndDate { get; set; }
        public Guid? CTFundingProgram { get; set; }
        public string? CTFundingProgramText { get; set; }
        public int? TimeZone { get; set; }
        public decimal? ToatlCost { get; set; }
        public string? FundingCountryOrProject { get; set; }
        public string? CTRequestorName { get; set; }
        public string? Revision { get; set; }
        public string? CTProjectManagerName { get; set; }
        public string? CTRequestorEmail { get; set; }
        public string? ApprovedBy { get; set; }
        public string? CTProjectManagerEmail { get; set; }
        public string? CTRequestorPhone { get; set; }
        public DateTime? DateSubmitted { get; set; }
        public string? CTProjectManagerPhone { get; set; }
        public string? TTIPOCEmail { get; set; }
        public string? TTIPOCPhone { get; set; }
        public string? TTIPOCName { get; set; }
        public string? TTIAlternatePOCEmail { get; set; }
        public string? TTIAlternatePOCPhone { get; set; }
        public string? TTIAlternatePOCName { get; set; }
        public string? TypeOfTravel { get; set; }
        public string? PurposeOrRequestSummary { get; set; }
        public int? IsDelete { get; set; }
        public bool? VettingOfForegnNationParticipants { get; set; }
        public DateTime? Date { get; set; }
        public bool? AreWriitenDocPresentToForegnNatinls { get; set; }
        public string? SpecbackgroundexpOrTranslateQualification { get; set; }
        public string? DocumentDestinationCountry { get; set; }
        public bool? TranslatorCONUSBased { get; set; }
        public bool? TranslatorUSCitizen { get; set; }
        public bool? IsMaterialApprovedForExport { get; set; }
        public bool? ContainPIIOfUSCitizen { get; set; }
        public bool? ContainPIIOfForegnNationals { get; set; }
        public bool? ContainFOUOandCUI { get; set; }
        public string? AdditionalRequirementsandLimitation { get; set; }
        public string? ProjectTitle { get; set; }

        #region For labels
        public string? AssociatedDTROrIRNumberLabel { get; set; }
        public string? CTFundingProgramLabel { get; set; }
        public string? FundingCountryOrProjectLabel { get; set; }
        public string? CTRequestorNameLabel { get; set; }
        public string? PLSListCardTitile { get; set; }
        public string? PLSRequestFormCardTitile { get; set; }
        public string? PLSRestrictionsCardTitile { get; set; }
        public string? RegFlagLabel { get; set; }
        public string? CurrentStatusLabel { get; set; }
        #endregion

        #region Grid Action
        public string? Action { get; set; }
        public string? Edit { get; set; }
        public string? Delete { get; set; }
        public string? Copy { get; set; }
        #endregion

    }
}
